#root {
  margin: 0 auto;
  text-align: center;
  
}

.container {
  display: grid;
  grid-template-areas: 
  "header header header header" 
  "aside main main main" 
  "aside main main main"
  "footer footer footer footer";
}

header {
  height: 1fr;
  grid-area: header;
  background-color: #2b2929;

}

main {
  height: auto;
  grid-area: main;
  background-color: #404246;
}

footer {
  height: 1fr;
  grid-area: footer;
  background-color: #58494f;
}

aside {
  height: auto;
  grid-area: aside;
  background-color: #2b2929;
}