#root {
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.content{
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
  "aside main" 
}

main {
  grid-area: main;
  background-color: #404246;
}

aside {
  padding: 3rem;
  grid-area: aside;
  background-color: #2b2929;
}

header {
  height: 1fr;
  background-color: #2b2929;
}


footer {
  height: 1fr;
  background-color: #58494f;
}

